img {
    height: 100px;
}

.flight {
    box-sizing: border-box;
    background-color: #e0aeae;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid #7a4848;
    border-radius: 10px;
}